@import "tailwindcss";

.card {
  perspective: 1000px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 5px;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
  border-radius: 5px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card-front {
  transform: rotateY(0deg);
  border-radius: 5px;
}

.card-back {
  transform: rotateY(180deg);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

img {
  border-radius: 4px;
}

header {
  display: flex;
  justify-content: center;
}

header > h1 {
  font-size: xx-large;
}

header > button {
  cursor: pointer;
  font-size: x-large;
}

main {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 5px;
}

@media screen and (min-width: 360px) {
  .card {
    width: 40px;
    height: 40px;
  }

  .card-back {
    font-size: larger;
  }
}

@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: repeat(16, minmax(0, 1fr));
    gap: 10px;
  }

  .card-back {
    font-size: x-large;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: 50px;
    height: 50px;
  }

  .card-back {
    font-size: xx-large;
  }
}